<nav class="navbar fixed-top"
     style="z-index: 1; background-color: rgba(0,0,0, 0.7); color: #9fcdff;">
    <div class="container-fluid " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <a class="btn btn-outline-light" href="/home">Home</a>
        <form class="d-flex" th:action="@{/home}" th:method="get">
            <input class="form-control me-2" style="width: 100%"
                   type="text" name="keyword" id="keyword" size="20" th:value="${keyword}"
                   placeholder="Search..." required/>
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <input id="searched" onkeyup="filter()" class="form-control me-2" style="width: 30%"
               type="search" placeholder="Filter e.g. mask"
               aria-label="Search"/>


        <div class="nav-item dropdown btn btn-outline-light" sec:authorize="hasAnyRole('ADMIN' , 'MODERATOR')">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                Medical procedures
            </a>
            <ul class="dropdown-menu btn btn-outline-light" style="background-color: rgba(0,0,0, 0.85);">
                <li><a class="dropdown-item btn btn-outline-light" style="color: #0056b3" href="/medical-procedures">Procedures</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item btn btn-outline-light" style="color: #0056b3"

                       href="/medical/add">Add medical procedures</a></li>
            </ul>
        </div>

        <a class="btn btn-outline-light" sec:authorize="isAnonymous()" href="/medical-procedures">Medical procedures</a>

        <a class="btn btn-outline-light" sec:authorize="hasRole('USER')" href="/medical-procedures">Medical
            procedures</a>

        <div class="nav-item dropdown btn btn-outline-light" sec:authorize="hasAnyRole('ADMIN' , 'MODERATOR')">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                SPA procedures
            </a>
            <ul class="dropdown-menu btn btn-outline-light" style="background-color: rgba(0,0,0, 0.85);">
                <li><a class="dropdown-item btn btn-outline-light" style="color: #0056b3" href="/spa-procedures">Procedures</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item btn btn-outline-light" style="color: #0056b3"
                       href="/spa/add">Add SPA procedures</a></li>
            </ul>

        </div>

        <a class="btn btn-outline-light" sec:authorize="isAnonymous()" href="/spa-procedures">SPA procedures</a>

        <a class="btn btn-outline-light" sec:authorize="hasRole('USER')" href="/spa-procedures">SPA procedures</a>

        <div class="nav-item dropdown btn btn-outline-light" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <th:block sec:authentication="name"></th:block>
                profile
            </a>
            <ul class="dropdown-menu btn btn-outline-light" style="background-color: rgba(0,0,0, 0.85);">
                <li><a class="dropdown-item btn btn-outline-light" style="color: #0056b3"
                       href="/change/username">Change details</a>
                </li>
                <li><a class="dropdown-item btn btn-outline-light" style="color: #0056b3"
                       sec:authorize="hasRole('ADMIN')"
                       href="/change/role">Change role</a>
                </li>
                <li>
                    <a class="dropdown-item btn btn-outline-light" style="color: #0056b3"
                       href="/cart">My orders
                        <img src="/images/cart.png" alt=""/>
                        <span class="position-absolute top-50 start-90 translate-middle badge rounded-pill bg-gray"
                              th:text="${countOfAllOrders}">
  </span>
                    </a>
                </li>
                <li>
                    <form
                            th:method="post"
                            th:action="@{/logout}">
                        <input class="dropdown-item btn btn-outline-light" style="color: #0056b3" type="submit"
                               value="Logout">
                    </form>
                </li>
            </ul>

        </div>
        <div>
            <a class="btn btn-outline-light" aria-current="page" sec:authorize="!isAuthenticated()"
               href="/login">Login</a>
            <a class="btn btn-outline-light" aria-current="page" sec:authorize="!isAuthenticated()"
               href="/register">Register</a>

            <script src="/js/filter.js">
            </script>

        </div>

    </div>
</nav>