<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{/fragments/meta}"></th:block>
</head>
<body>
<header>
  <th:block th:insert="~{/fragments/navigation}"></th:block>
  <th:block th:insert="~{/fragments/footer}"></th:block>
</header>
<main>

  <form class="mx-auto auth-forms"
        th:method="post" th:action="@{/spa/add}" th:object="${spaProceduresDTO}">


    <h1 class="text-center mt-2"><span class="badge badge-pill ">Add SPA procedures</span></h1>
    <div class="form-floating" style="width: 400px; margin: auto">
      <input type="name" class="form-control auth-inputs" id="floatingInput" name="name" placeholder="Name"
             th:field="*{name}"
             th:errorclass="is-invalid"/>
      <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></small>
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating" style="width: 400px; margin: auto">
      <input type="text" class="form-control auth-inputs"
             id="floatingImage" name="imageUrl" placeholder="image"
             th:field="*{imageUrl}"
             th:errorclass="is-invalid"/>
      <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger"></small>
      <label for="floatingImage">Image url</label>
    </div>
    <div class="form-floating" style="width: 400px; margin: auto">
      <input type="text" class="form-control auth-inputs"
             id="floatingDescription" name="description" placeholder="image"
             th:field="*{description}"
             th:errorclass="is-invalid"/>
      <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></small>
      <label for="floatingDescription">Description</label>
    </div>

    <button type="submit" class="btn btn-primary auth-button">Add</button>
  </form>
</main>
</body>
</html>