<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{/fragments/meta}"></th:block>
</head>
<body>
<header>
  <th:block th:insert="~{/fragments/navigation}"></th:block>
</header>
<main>

  <form class="mx-auto auth-forms"
        th:method="post" th:action="@{/comment/add/{type}/{id}(type = ${type}, id=${sId})}" th:object="${commentsDTO}">


    <h1 class="text-center mt-2"><span class="badge badge-pill ">Comments</span></h1>
    <div class="form-floating" style="width: 400px; margin: auto">
      <input class="form-control auth-inputs" type="text"  id="floatingInput"
             name="content" placeholder="Write a comment..." required minlength="10" maxlength="150"
             th:field="*{content}" th:errorclass="is-invalid"/>
      <small th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></small>
      <p class="errors text-danger" th:if="${errorContent}">Not blank!</p>

      <label for="floatingInput">Leave a comment</label>
    </div>

    <button type="submit" class="btn btn-primary auth-button">Add</button>
  </form>
</main>
<footer class="footer bg-transparent py-2">
  <div class="container-fluid text-center">
    <div class="footer-background h5 text-primary text-stroke fixed-bottom">
      &copy; PeterC 2023. All rights reserved.
    </div>
  </div>
</footer>
</body>
</html>