<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<head>
    <th:block th:insert="~{/fragments/meta}"></th:block>

</head>
<body>
<header>
    <th:block th:insert="~{/fragments/navigation}"></th:block>
</header>
<main class="text-center">
    <h1>
        <th:block sec:authentication="name"></th:block>
        cart
    </h1>


    <div class="bg-dark bg-opacity-75 "></div>
    <div style="margin: auto; align-content: center; text-align: center">
        <p th:text="${message}"></p>
        <div class="card"
             style="width: 60%; height: 60%; background-color: rgba(0,0,0,0.25);border-radius: 4px; margin: auto; align-content: center; text-align: center">
            <table class="table" style="background-color: rgba(0,0,0,0.25); border-radius: 6px;">
                <thead style=" background-color: rgba(0,0,0,0.8); color: #80bdff; font-size: large">
                <tr style="border-radius: 6px;">
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col"></th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody style=" background-color: rgba(0,0,0,0.25); color: #80bdff; font-size: large; font-weight: bold">
                <tr th:each="o : ${allOrders}" th:object="${o}">
                    <th class="card" scope="row" th:text="${counter.incrementAndGet()}"></th>
                    <td>
                        <div class="card" style="background-color: #6c757d;" th:text="*{name}"></div>
                    </td>
                    <td><img th:src="*{imageUrl}" style="width: 100px; height: 100px; "></td>
                    <td th:id="'price' + *{type} + *{id}"
                        th:value="*{price}"
                        th:text="|*{price} &euro;|"></td>
                    <td><input onclick="calculate()" type="number" th:id="'quantity' + *{type} + *{id}"
                               class="form-control"
                               style="margin-left: 30px; width: 60%" step="1" min="1" max="15"
                               name="quantity" value="1" title="Qty" size="4" inputmode="numeric">
                    </td>
                    <td th:id="'total' + *{type} + *{id}" type="number"></td>
                    <td><a th:href="@{'/' + *{type} + '/delete/{id}'(id = *{id})}"
                           class="btn btn-outline-light">Remove</a>
                        <a th:href="@{'/' + *{type} + '/details/{id}'(id = *{id})}"
                           class="btn btn-outline-light">Details</a></td>
                </tr>
                </tbody>


                <script th:inline="javascript">
                    async function calculate() {

                        let itemId = [[${allOrders}]];
                        for (const itemIdKey in itemId) {
                            let temp = document.getElementById('price' + itemId[itemIdKey].type + itemId[itemIdKey].id).textContent;
                            let qty = await document.getElementById('quantity' + itemId[itemIdKey].type + itemId[itemIdKey].id).value;
                            const regexp = /-?(\d+)(\.\d+)?/;
                            let result = temp.match(regexp)[0];
                            let price = parseFloat(result);
                            let total = (price * parseFloat(qty)).toFixed(2);
                            document.getElementById('total' + itemId[itemIdKey].type
                                + itemId[itemIdKey].id).innerHTML = total;

                        }


                        getTotalAmount();
                    }

                    calculate();

                    getTotalAmount = () => {
                        let itemId = [[${allOrders}]];
                        let sum = 0;
                        for (const itemIdKey in itemId) {
                            let currentAmount = document.getElementById('total' + itemId[itemIdKey].type
                                + itemId[itemIdKey].id).innerHTML;
                            let amount = parseFloat(currentAmount)
                            sum += amount;
                        }
                        document.getElementById('totalAmount').innerHTML = sum.toFixed(2);
                        document.getElementById('buyTotal').innerHTML = 'Your order total amount is: ' + sum.toFixed(2) + ' €';

                    }

                    getValues = (e) => {
                        document.getElementById(e.id).innerHTML = localStorage.getItem(e.value);
                    }
                </script>
            </table>

            <div>
                <div style="font-size: 20px; color: whitesmoke; position: absolute; bottom: 20px; right: 135px;" th:if="${allOrders.size() != 0}">Total
                    amount:
                </div>
                <div id="totalAmount" th:if="${allOrders.size() != 0}"
                     style="font-size: 20px; color: whitesmoke; position: absolute; bottom: 20px; right: 65px;">0.00
                </div>
                <button class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#buyModal" th:if="${allOrders.size() != 0}"
                        >Buy all
                </button>


                <script>
                    setTimeout(() => {
                        document.querySelectorAll('div.alert').forEach(d => d.style.display = 'none')
                    }, 4000);
                </script>

                <div class="modal fade" id="buyModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="background-color: rgba(255,255,255,0.85)">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <th:block sec:authentication="name"></th:block>
                                    your order includes
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" th:each="o : ${allOrders}" th:object="${o}">
                                <p style="color: gray" th:text="|*{name}|"></p>
                            </div>
                            <p id="buyTotal"></p>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-secondary">Buy and Save order</a>
                                <a type="button" class="btn btn-secondary" th:href="@{/delete/all}">
                                    Only buy
                                    <!--                                    <a th:href="@{/delete/all}">Only buy</a>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div  class="alert alert-danger text-center" role="alert" style="width: 40%; margin: auto"
                     th:if="${deleted}">Product was removed from cart!
                </div>

                <div  class="alert alert-danger text-center" role="alert" style="width: 40%; margin: auto"
                      th:if="${allOrders.isEmpty()}">There are no products in cart!
                </div>


            </div>
        </div>
</main>


<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-primary text-stroke fixed-bottom">
            &copy; PeterC 2023. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>