<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:insert="~{/fragments/meta}"></th:block>

</head>
<body>
<header>
    <th:block th:insert="~{/fragments/navigation}"></th:block>
</header>
<main>
    <hr class="hr-5 w-50 "/>
<div>
    <form class="mx-auto change-role" th:action="@{/change/role}" th:method="post">
        <h2>Change role</h2>
        <div>
            <div>Please select user to change its role</div>
            <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7 auth-inputs" id="username" name="username"
            >
                <option th:each="u : ${users}" th:value="${u}" th:text="${u}"></option>

            </select>
        </div>
        <div >
            <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7 auth-inputs" id="role" name="role">
                <option>Please select role</option>
            <option th:each="r : ${T(com.example.spacenter.model.entity.RoleEnum).values()}"  th:value="${r}" th:text="${r}"></option>
            </select>
            <div th:if="${error != null}" class="text-danger text-center">Please select role!</div>
        <div class="input-group mb-3">
            <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                <button type="submit" class="btn btn-primary">Change role</button>
            </div>
        </div>
        </div>
        <div id="changed" th:if="${changed != null}" class="alert alert-success" role="alert">
            [[${changed}]]
        </div>
    </form>
</div>
    <script>
        setTimeout(() => {
            document.getElementById('changed').style.display = 'none';

        }, 4000);
    </script>
<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-primary text-stroke fixed-bottom">
            &copy; PeterC 2023. All rights reserved.
        </div>
    </div>
</footer>
</main>
</body>
</html>