<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


<head>
    <th:block th:insert="~{/fragments/meta}"></th:block>
    <title></title>

</head>
<body>
<header>
    <th:block th:insert="~{/fragments/navigation}"></th:block>
</header>
<main>
    <hr class="hr-5 w-50 "/>
    <div>

        <form class="mx-auto change-details" th:action="@{/change/username}" th:method="post"
              th:object="${changePasswordDTO}">
            <h2 style="margin-top: 120px; padding-top: 30px">Change user details</h2>

            <div>
                <label>Enter new username:</label>
                <input class="form-control" type="text" id="username" style="width: 65%; margin: auto"
                       placeholder="Please enter new username:" required minlength="3" maxlength="15"
                       th:field="*{username}"
                />
                <div id="mismatched" th:if="${mismatched != null}" class="alert alert-danger" role="alert">
                    [[${mismatched}]]
                </div>
                <label style="padding-top: 20px">New password:</label>
                <input class="form-control" type="password" id="password" style="width: 65%; margin: auto"
                       placeholder="Please enter new password:" required minlength="3" maxlength="15"
                       th:field="*{password}"/>
                <label style="padding-top: 20px">Confirm new password:</label>
                <input class="form-control" type="password" id="repeatPassword" style="width: 65%; margin: auto"
                       placeholder="Please enter new password:" required minlength="3" maxlength="15"
                       th:field="*{repeatPassword}"/>
                <input id="change" type="submit" onclick="change()" class="btn btn-primary" value="Save details"
                       style="margin-top: 50px; margin-left: auto; margin-right: auto;"/>
            </div>
            <div id="message" th:if="${message != null}" class="alert alert-success" role="alert">
                [[${message}]]
            </div>
        </form>

        <script>
            setTimeout(() => {
                document.getElementById('message').style.display = 'none';

            }, 4000);
            setTimeout(() => {
                document.getElementById('mismatched').style.display = 'none';

            }, 4000);

        </script>


    </div>
    <footer class="footer bg-transparent py-2">
        <div class="container-fluid text-center">
            <div class="footer-background h5 text-primary text-stroke fixed-bottom">
                &copy; PeterC 2023. All rights reserved.
            </div>
        </div>
    </footer>
</main>
</body>
</html>