<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


<head>
    <th:block th:insert="/fragments/meta"></th:block>
    <title></title>

</head>
<body>
<header>
    <th:block th:insert="/fragments/navigation"></th:block>
</header>
<main>
    <hr class="hr-5 w-50 "/>
    <div>

        <form class="mx-auto change-role" th:action="@{/change/username}" th:method="post"
              th:object="${user}">
            <h2 style="margin-top: 160px; padding-top: 30px">Change username</h2>

            <div id="message" th:if="${message != null}" class="alert alert-success" role="alert">
                [[${message}]]
                </div>

            <div>
                <label>Current username:</label>
                <input class="form-control" type="text" id="username" style="width: 65%; margin: auto"
                       placeholder="Please enter new username:" required minlength="3" maxlength="15"
                       th:field="*{username}"/>
                <input id="change" type="submit" onclick="change()" class="btn btn-primary" value="Change username"
                       style="margin-top: 50px; margin-left: auto; margin-right: auto;"/>
            </div>
        </form>

        <script>
            setTimeout(() => {
                document.getElementById('message').style.display = 'none';

            }, 4000);

        </script>


    </div>
    <footer class="footer bg-transparent py-2">
        <div class="container-fluid text-center">
            <div class="footer-background h5 text-primary text-stroke fixed-bottom">
                &copy; PeterC 2023. All rights reserved.
            </div>
        </div>
    </footer>
</main>
</body>
</html>