<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="~{/fragments/meta}"></th:block>
</head>
<body>
<header>
    <th:block th:insert="~{/fragments/navigation}"></th:block>
</header>
<main><div style="margin-top: 80px"><h1 class="text-center">Laser procedures<a
        class="btn btn-md btn-dark text-right" sec:authorize="hasAnyRole('ADMIN' , 'MODERATOR')"
        th:href="@{/medical/add/laser}">Add procedure</a></h1></div>
    </h1>
    <div class="row " style="margin: auto; background-color: rgba(90,90,100, 0.7)">

        <div class="col-md-3 " style="margin: auto; padding-top: 20px" th:each="p : ${laserProcedures}" th:object="${p}">
            <div class="card bg-dark text-white text-md-center box1 rounded" style="width: 18rem; height: 26rem; margin: auto">
                <img th:src="*{imageUrl}" class="card-img-top">
                <div class="card-body">
                    <p th:id="*{name}" class="card-text" th:text="*{name}"></p>
                    <p class="card-text text-right" th:text="|Price: *{price} &euro;|"></p>
                </div>
                <div style="position:absolute;bottom:6px; right:6px;">
                    <a class="btn btn-sm btn-outline-light mt-auto"
                       sec:authorize="isAuthenticated()" th:href="@{/delete/{id}(id = *{id})}"
                    >Delete</a>
                    <a class="btn btn-sm btn-outline-light mt-auto"
                       sec:authorize="isAuthenticated()" th:href="@{/laser/buy/{id}(id = *{id})}"
                    >Add to cart</a>
                    <a class="btn btn-sm btn-outline-light mt-auto" th:href="@{/laser/details/{id}(id = *{id})}">Details</a>
                </div>
            </div>


            <script>
                setTimeout(() => {
                    document.querySelectorAll('div.alert').forEach(d => d.style.display = 'none')
                }, 4000);
            </script>

            <div class="modal fade" id="modal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0.4)">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p style="color: #80bdff" th:text="|You add *{name} in cart|"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination justify-content-center" style="margin-top: 20px" th:if="${!laserProcedures.isEmpty()}">
            <div style="width: 40%; margin: auto">
                <div id="warning" class="alert alert-warning text-center" role="alert" th:if="${alreadyInCart}">Already
                    in cart!
                </div>
                <div id="success" class="alert alert-success text-center" role="alert" th:if="${added}">Product added to cart!
                </div>


            </div>
            <div th:each="i: ${#numbers.sequence(1, totalPages)}">
                <li class="page-item">
                    <a class="btn btn-lg btn-outline-light" th:href="@{'/LaserProcedures/laser-procedures?size=4&page=' + ${i - 1}}">[[${i}]]</a>
                </li>
            </div>
        </ul>
    </div>


</main>

</body>
</html>